$base-text-color: #1C2A39;
$secondary-text-color: #5C6A79;
$inactive: #EFEEF6;
$purple: #9E98DC;
$pink: #FF8FE6;
$list-marker: #756AD3;
$book-inactive: #EEEDF5;
$button-to-buy: #4C3DB2;
$badge-bg: #FF353A;